#stripes
{position:absolute}

#stripes
{
width:100%;
height:100%;
overflow:hidden;
-webkit-transform:skewY(-12deg);
transform:skewY(-12deg);
-webkit-transform-origin: left bottom;
transform-origin: left bottom;
z-index: -1;
bottom: 0;
background-image: url(images/khokhloma-pattern.jpg)}